body{
	background-color: #0079BF;
	margin: 0;
	white-space: nowrap;
	font-family: 'arial';
}
header{
	position: fixed;
	width: 100%;
}
#blue-top{
	width: 100%;
	height: 50px;
	background: #0067A3;
}
#top-banner{
	height: 50px;
	outline: 1px solid black;
	color:#FFF;
}
#top-banner h3{
	margin:0;
	display: inline-block;
}
#top-banner p{
	margin:0;
	display: inline-block;
}
.list-div{
	width: 250px;
	display: inline-block;
	vertical-align: text-top;
	padding: 5px;
	margin: 5px;
	white-space: normal;
	word-break: break-all;
}
.list-div p{
	background: #FFF;
	box-shadow: 0px .3px 0px #888888;
	border-radius: 2px;
	padding: 6px;
	font-size: .9em;
	color: #313131;
	margin: 7px 3px;
}
.list-div h4{
	font-size: .9em;
	padding: 5px;
	margin: 0;

}
.list-div-active a{
	width: 100%;
	padding: 6px 0;
	display: block;
	box-sizing: border-box;
	text-align: center;
	text-decoration: none;
	color: #9BA1A6;
	transition: all ease .3s;

}
.list-div-active a:hover{
	background-color: #CDD2D4;
	color: #5f6268;
}
.list-div-active{
	width: 250px;
	display: inline-block;
	vertical-align: text-top;
	background: #E2E4E6;
	border-radius: 4px;
	padding: 5px;
	margin: 5px;
}
.input-start{
	width: 100%;
	border: none;
	outline: none;
	box-sizing: border-box;
	padding: 10px;
	display: block;
	background: #0067A3;
	border-radius: 4px;
}
.input-start::-webkit-input-placeholder { /* Chrome */
  color: #FFF;
}

.input-focus{
	background: #D6D8DA;
	box-shadow: inset 0px 0px 7px 0px #b2b2b2;
	border:1px solid #AAAAAA;
	color: #313131;
}
.input-focus::-webkit-input-placeholder { /* Chrome */
  color: #545454;
}

.btn-save{
	margin-top: 5px;
	border:none;
	color: #FFF;
	background: #5AAC44;
	border-radius: 3px;
	display: inline-block;
	padding: 8px 12px;
	box-sizing: border-box;
	vertical-align: 4px;
	cursor: pointer;
	font-weight: bolder;
	transition: background ease .3s;
	outline: none;
	box-shadow:  1px 1px 0px #519839;
}
.btn-save:hover{
	background: #519839;
}

.fa.fa-times{
	font-size: 1.6em;
	cursor: pointer;
	box-sizing: border-box;
	overflow: hidden;
	clear: both;
	color: #6e7981;
	transition: color ease .3s;
	vertical-align: -4px;
	padding-left: 150px;

}
.fa.fa-times:hover{
	color: #2F3437;
}

.list-div-active ol{
	list-style: none;
	margin: 0;
	padding:0;
}
.list-div-active li{
	background: grey;
	outline: 1px solid red;
	padding: 10px;
}
.f-left{
	float: left;
	overflow: hidden;
}
#text{
	width: 243px;
	display: block;
	outline: none;
	font-family: 'arial';
	resize: none;
}
.break-long-words {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  hyphens: auto;
}
#lists-container{
	padding: 100px 0 0 5px;
}