body{
	background-color: #347CC5;
}
header{
	width: 100%;
	height: 50px;
	background: #2A6CAA;
}
#top-banner{
	height: 50px;
	outline: 1px solid black;
	color:#FFF;
}
#top-banner h3{
	margin:0;
	display: inline-block;
}
#top-banner p{
	margin:0;
	display: inline-block;
}
.list-div{
	width: 19.74%;
	outline:1px solid green;
	display: inline-block;
	vertical-align: text-top;
	background: green;
	height: auto;
}
.list-div input{
	width: 100%;
	outline:1px solid green;
	box-sizing: border-box;
}
.list-div button{
	background: red;
	border:none;
	color:black;
	display: inline-block;
	padding: 10px;|
}
ol{
	list-style: none;
	margin: 0;
	padding:0;
}
li{
	background: grey;
	outline: 1px solid red;
	padding: 10px;
}

.test{
	background-color: red;
	border: none;
	padding: 10px;
}