body{
	background-color: #0079BF;
	margin: 0;
	white-space: nowrap;
	font-family: 'arial';
}
header{
	position: fixed;
	width: 100%;
}
header img{
	height: 25px;
	position: absolute;
	top: 7px;
	left: 48%;
	opacity: .5;
	transition: opacity ease .3s;
	cursor: pointer;
}
header img:hover{
	opacity: .85;
}
#blue-top{
	width: 100%;
	height: 40px;
	background: #0067A3;
	color: #FFF;
	padding: 5px 15px;
	box-sizing: border-box;
}
#tableros{
	font-size: 1.1em;
	background-color: #4d95bf;
	padding:4px 7px;
	border-radius: 3px;
	display: inline-block;
	cursor:pointer;
	transition: background ease .3s;
}
#tableros:hover{
	background-color: #3386B5;
}
#tableros p{
	margin:0 5px;
	font-size: .8em;
	font-weight: bolder;
	display: inline-block;
}
#searchDiv{
	display: inline-block;
	position: relative;
}
#search{
	border:none;
	outline: none;
	height: 26.5px;
	width: 180px;
	background-color: #4d95bf;
	border-radius: 3px;
	vertical-align: 1.2px;
	margin-left: 5px;
	transition: background ease .3s;
}
#search:hover{
	background-color: #66A4C7;
}
#searchDiv .fa.fa-search{
	position: absolute;
	/*flip*/
	transform: scaleX(-1);
	right: 8px;
	top: 5px;
	cursor: pointer;
}
#icons{
	display: inline-block;
	float: right;
}
#icons .fa{
	background-color:#4d95bf; 
	width: 26.5px;
	height: 26.5px;
	text-align: center;
	line-height: 1.8em;
	border-radius: 3px;
	margin-left: 5px;
	transition: background ease .3s;
	cursor: pointer;
}
#icons .fa:hover{
	background-color: #3386B5;
}
#userPhoto{
	width: 26.5px;
	height: 26.5px;
	border-radius: 50%;
	background-image: url(../img/userPhoto.jpg);
	background-size: 40px;
	background-position: 45% 10%;
	display: inline-block;
	vertical-align: -7px;
	margin-left: 5px;
	cursor: pointer;
}

#top-banner{
	height: 46px;
	color:#FFF;
}
#top-banner h3{
	border-radius: 3px;
	cursor: pointer;
	display: inline-block;
	font-size: 1.1em;
	height: 30px;
	line-height:  1.8em;
	margin:8px 0 0 10px;
	padding: 0 10px;
}
#top-banner h3:hover{
	background-color: #006AA8;
}
#top-banner p{
	margin:0;
	display: inline-block;
	font-size: .9em;
	border-radius: 3px;
	padding: 7.5px 11px;
	cursor: pointer;
}
#top-banner p:last-child{
	text-decoration: underline;
	float: right;
	clear: both;
	overflow: hidden;
	margin: 8px 10px 0 0;
}
.fa-ellipsis-h{
	margin-right: 5px;
}
#top-banner p:hover{
	background-color: #006AA8;

}
#top-banner .fa.fa-star-o{
	font-size: .8em;
	padding: 10px;
	cursor: pointer;
	border-radius: 3px;
}
#top-banner .fa.fa-star-o:hover{
	background-color: #006AA8;
}
.list-div{
	width: 250px;
	display: inline-block;
	vertical-align: text-top;
	padding: 5px;
	margin: 5px;
	white-space: normal;
	word-break: break-all;
}
.list-div p{
	background: #FFF;
	box-shadow: 0px .3px 0px #888888;
	border-radius: 2px;
	padding: 6px;
	font-size: .9em;
	color: #313131;
	margin: 7px 3px;
}
.list-div h4{
	font-size: .9em;
	padding: 5px;
	margin: 0;

}
.list-div-active a{
	width: 100%;
	padding: 6px;
	display: block;
	box-sizing: border-box;
	text-decoration: none;
	color: #9BA1A6;
	transition: all ease .3s;
	font-size: .9em;

}
.list-div-active a:hover{
	background-color: #CDD2D4;
	color: #5f6268;
}
.list-div-active{
	width: 250px;
	display: inline-block;
	vertical-align: text-top;
	background: #E2E4E6;
	border-radius: 4px;
	padding: 5px;
	margin: 5px;
}
.input-start{
	width: 100%;
	border: none;
	outline: none;
	box-sizing: border-box;
	padding: 10px;
	display: block;
	background: #0067A3;
	border-radius: 4px;
}
.input-start::-webkit-input-placeholder { /* Chrome */
  color: #FFF;
}

.input-focus{
	background: #D6D8DA;
	box-shadow: inset 0px 0px 7px 0px #b2b2b2;
	border:1px solid #AAAAAA;
	color: #313131;
}
.input-focus::-webkit-input-placeholder { /* Chrome */
  color: #545454;
}

.btn-save{
	margin-top: 5px;
	border:none;
	color: #FFF;
	background: #5AAC44;
	border-radius: 3px;
	display: inline-block;
	padding: 8px 12px;
	box-sizing: border-box;
	vertical-align: 4px;
	cursor: pointer;
	font-weight: bolder;
	transition: background ease .3s;
	outline: none;
	box-shadow:  1px 1px 0px #519839;
}
.btn-save:hover{
	background: #519839;
}

.fa.fa-times{
	font-size: 1.6em;
	cursor: pointer;
	box-sizing: border-box;
	overflow: hidden;
	clear: both;
	color: #6e7981;
	transition: color ease .3s;
	vertical-align: -4px;
	padding-left: 150px;

}
.fa.fa-times:hover{
	color: #2F3437;
}

.list-div-active ol{
	list-style: none;
	margin: 0;
	padding:0;
}
.list-div-active li{
	background: grey;
	outline: 1px solid red;
	padding: 10px;
}
.f-left{
	float: left;
	overflow: hidden;
}
#text{
	width: 240px;
	display: block;
	outline: none;
	font-family: 'arial';
	resize: none;
}
.break-long-words {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  hyphens: auto;
}
#lists-container{
	padding: 80px 0 0 5px;
}